@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

:root {
  --main-dark-color: #161f2c;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.landing-section {
    height: 100vh;
    background-color: var(--main-dark-color);
}

.main-header {
  height: 5rem;
  width: 100%;
  padding: 1rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.toggle-button {
  display: none;
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.6rem 0;
}

.main-header__name {
  font-size: 1.8rem;
  color: white;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav__item{
    margin: 0 2rem;
}

.main-nav__item a {
  color: #09a0e6;
  font-size: 1rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 6rem 8rem 0rem 8rem;
    font-family: 'Playfair Display', serif;
}

.main-headline {
    color: white;
    font-size: 4rem;
    min-width: 50rem;
}

.contents {
    margin-top: 1.5rem;
}

.content {
    color: white;
    font-size: 1.2rem;
    font-style: italic;
    padding-top: 1rem;
    min-width: 30rem;
}

.content em {
    font-weight: bold;
}

.button--cta {
    margin-top: 4rem;
    width: 15rem;
    height: 6vh;
    background-color: #09a0e6;
    border: none;
    border-radius: 10px;
    padding: 0;
}

.button--cta a {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
}

.button--cta:hover {
    cursor: pointer;
    opacity: 0.9;
}

.button--cta:active,
.button--cta:focus {
    outline: none;
}

.projects-section {
    height: 100vh;
    padding: auto;
    background: #bbd4eb;
}

.projects-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-left: 5rem;
  color: var(--main-dark-color);
}

.projects {
    margin: 4rem 5rem 0rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.project {
    width: 32%;
    min-width: 16rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    background: white;
    border-radius: 10px;

    overflow: hidden;
    margin-right: 3rem;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.project #accessart {
  background-image: url("assets/images/web.png");
}

.project #vector {
  background-image: url("assets/images/shapes.jpg");
}

.project #planner {
  background-image: url("assets/images/Fsharp_logo.png");
}

.project-overview {
  width: 100%;
  min-height: 30vh;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.project-title {
  width: 75%;
  background: white;
  padding-left: 4%;
  color: var(--main-dark-color);
  font-size: 1rem;
  position: absolute;
  bottom: 0%;
  left: 0%;
  border-top-right-radius: 10px;
}

.project-description {
  color: var(--main-dark-color);
  padding-left: 2%;
  font-size: .9rem;
  margin-top: 1rem;
}

.project-stacks {
  display: flex;
  margin-top: 1rem;
  padding-left: 2%;
  margin-bottom: 1rem;
}

.project-stacks li {
  color: var(--main-dark-color);
  font-size: .7rem;
  padding: 0.5rem;
  margin-right: .5rem;
  background-color: #bbd4eb;
  border-radius: 10px;
  box-shadow: 3px 3px 5px .1px rgba(0, 0, 0, 0.2);
}

.contact-section {
    height: 100vh;
    background-color: var(--main-dark-color);
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    position: relative;
}

.contact-title {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.contact-form {
  margin-top: 2rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Dancing Script', cursive;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  width: 25rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--main-dark-color);
  border: none;
  border-radius: 10px;
}

.contact-form label {
  color: white;
  font-size: 1.7rem;
  margin-bottom: .3rem;
}

.contact-form input {
  height: 5vh;
  margin-bottom: 1rem;
}

.contact-form textarea {
  resize: none;
  margin-bottom: 2rem;
}

.contact-form button {
  width: 12rem;
  height: 10vh;
  background: #09a0e6;
  color: white;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  border-radius: 10px;
}

.contact-form button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.contact-form button:active,
.contact-form button:focus {
  outline: none;
}

.option-o {
  color: white;
  font-size: 3rem;
  font-family: 'Akaya Telivigala', cursive;
  position: absolute;
  top: 10%;
  left: 0%;
  width: 50%;
  text-align: right;
}

.option-r {
  color: var(--main-dark-color);
  font-size: 3rem;
  font-family: 'Akaya Telivigala', cursive;
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 5;
}

.contact-right-part {
  width: 30rem;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0%;
  /* left: 0%; */
  left: 50%;
  width: 50%;
  height: 100vh;
  /* width: 30rem;
  height: 30rem; */
  background-color: white;
  opacity: 0.6;
  z-index: 1;
  /* border-radius: 10px; */
}

.platforms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
  color: black;
}

.platforms-container h1,
.platforms-container p {
  color: var(--main-dark-color);
  font-family: 'Dancing Script', cursive;
}

.platforms-container .social-title {
  margin-top: 1rem;
  font-size: 2.4rem;
}

.platforms-container .social-content {
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 0rem 1rem 0rem 1rem;
  font-size: 1.5rem;
}

.platform-items {
  text-align: left;
  padding-left: 8rem;
}

.platform-item a {
  display: flex;
  color: var(--main-dark-color);
  margin-bottom: 1rem;
}

.platform-item img {
  width: 15%;
}

.platform-item p {
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
  padding-left: 2rem;
  padding-top: 0.7rem;
}

.main-footer {
  background: #151a21;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer p {
  color: rgb(185, 185, 185);
  font-size: .8rem;
}

/* Adjust sizes for larger screen desktop */
@media only screen and (min-width: 1400px) {
  .main-header {
    height: 8rem;
  }

  .main-header__name {
    font-size: 2.5rem;
  }

  .main-nav__item {
    font-size: 1.3rem;
  }

  .main-content {
    margin: 8rem 8rem 0rem 8rem;
  }

  .main-headline {
    font-size: 5rem;
  }

  .content {
    font-size: 1.6rem;
  }

  .button--cta {
    margin-top: 6rem;
    width: 20rem;
  }

  .button--cta a {
    font-size: 1.2rem;
  }

  .projects-title {
    font-size: 3rem;
    margin-top: 4rem;
  }

  .projects {
    margin: 5rem 15rem 0rem 5rem;
  }

  .project {
    height: 55vh;
  }

  .project-overview {
    height: 30vh;
  }

  .project-title {
    font-size: 1.2rem;
  }

  .contact-section {
    padding-right: 20rem;
  }

  .contact-title {
    font-size: 3rem;
  }

  .contact-form label {
    font-size: 1.2rem;
  }

  .contact-form button {
    height: 5vh;
    font-size: 1.1rem;
  }

  .main-footer {
    height: 5rem;
  }

  .main-footer p {
    font-size: .8rem;
  }
}