@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.landing-section {
    height: 100vh;
    background-color: #161f2c;
}

.main-header {
  height: 5rem;
  width: 100%;
  padding: 1rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.toggle-button {
  display: none;
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.6rem 0;
}

.main-header__name {
  font-size: 1.8rem;
  color: white;
}

.main-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav__item{
    margin: 0 2rem;
}

.main-nav__item a {
  color: #09a0e6;
  font-size: 1rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 6rem 8rem 0rem 8rem;
    font-family: 'Playfair Display', serif;
}

.main-headline {
    color: white;
    font-size: 4rem;
    min-width: 50rem;
}

.contents {
    margin-top: 1.5rem;
    list-style: none;
}

.content {
    color: white;
    font-size: 1.2rem;
    font-style: italic;
    padding-top: 1rem;
    min-width: 30rem;
}

.content em {
    font-weight: bold;
}

.button--cta {
    margin-top: 4rem;
    width: 15rem;
    height: 6vh;
    background-color: #09a0e6;
    border: none;
    border-radius: 10px;
    padding: 0;
}

.button--cta a {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
}

.button--cta:hover {
    cursor: pointer;
    opacity: 0.9;
}

.button--cta:active,
.button--cta:focus {
    outline: none;
}

.projects-section {
    height: 100vh;
    padding: auto;
    background: #bbd4eb;
}

.projects-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-left: 5rem;
  color: #161f2c;
}

.projects {
    margin: 4rem 5rem 0rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.project {
    width: 32%;
    min-width: 16rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 3rem;
}

.project #accessart {
  background-image: url("assets/images/accessart.png");
}

.project #vector {
  background-image: url("assets/images/vector.png");
}

.project #planner {
  background-image: url("assets/images/unit-planner.PNG");
}

.project-overview {
  width: 100%;
  min-height: 30vh;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.project-title {
  width: 75%;
  background: white;
  padding-left: 4%;
  color: #161f2c;
  font-size: 1rem;
  position: absolute;
  bottom: 0%;
  left: 0%;
  border-top-right-radius: 10px;
}

.project-description {
  color: #161f2c;
  padding-left: 2%;
  font-size: .9rem;
  margin-top: 1rem;
}

.project-stacks {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  padding-left: 2%;
}

.project-stacks li {
  color: #161f2c;
  font-size: .7rem;
  padding: 0.5rem;
  margin-right: .5rem;
  background-color: #bbd4eb;
  border-radius: 10px;
}

.contact-section {
    height: 100vh;
    background-color: #161f2c;
    padding-left: 5rem;
}

.contact-title {
  color: white;
  font-size: 2.5rem;
  margin-top: 4rem;
}

.contact-form {
  margin-top: 2rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  width: 25rem;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  color: #161f2c;
  border: none;
  border-radius: 10px;
}

.contact-form label {
  color: white;
  font-size: 1rem;
}

.contact-form input {
  height: 5vh;
  margin-bottom: 1rem;
}

.contact-form textarea {
  resize: none;
  margin-bottom: 2rem;
}

.contact-form button {
  width: 12rem;
  height: 6vh;
  background: #09a0e6;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  border-radius: 10px;
}

.contact-form button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.contact-form button:active,
.contact-form button:focus {
  outline: none;
}

.main-footer {
  background: #151a21;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer p {
  color: rgb(185, 185, 185);
  font-size: .8rem;
}

/* Adjust sizes for larger screen desktop */
@media only screen and (min-width: 1400px) {
  .main-header {
    height: 8rem;
  }

  .main-header__name {
    font-size: 2.5rem;
  }

  .main-nav__item {
    font-size: 1.3rem;
  }

  .main-content {
    margin: 8rem 8rem 0rem 8rem;
  }

  .main-headline {
    font-size: 5rem;
  }

  .content {
    font-size: 1.6rem;
  }

  .button--cta {
    margin-top: 6rem;
    width: 20rem;
  }

  .button--cta a {
    font-size: 1.2rem;
  }

  .projects-title {
    font-size: 3rem;
    margin-top: 4rem;
  }

  .projects {
    margin: 5rem 15rem 0rem 5rem;
  }

  .project {
    height: 55vh;
  }

  .project-overview {
    height: 30vh;
  }

  .project-title {
    font-size: 1.2rem;
  }

  .contact-title {
    font-size: 3rem;
  }

  .contact-form label {
    font-size: 1.2rem;
  }

  .contact-form button {
    height: 5vh;
    font-size: 1.1rem;
  }

  .main-footer {
    height: 5rem;
  }

  .main-footer p {
    font-size: .8rem;
  }
}